<%- include("partials/header") %>

<div>
    <p>Here you will find the authors of the Tales contained upon this site. </p>
</div>
<div id="authors" class="fluid-container">
    <div class="row">
        <div class="col-sm-6 col-xl-4 m-0">
            <div class="card">
                <img class="card-img-top" src="https://www.gstatic.com/tv/thumb/persons/84477/84477_v9_ba.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Edgar Allan Poe</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 m-0">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/1/10/H._P._Lovecraft%2C_June_1934.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">H.P. Lovecraft</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 m-0">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/3/34/Bram_Stoker_1906.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Bram Stoker</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xl-4 m-0">
            <div class="card">
                <img class="card-img-top" src="https://www.gstatic.com/tv/thumb/persons/84477/84477_v9_ba.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Edgar Allan Poe</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 m-0">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/1/10/H._P._Lovecraft%2C_June_1934.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">H.P. Lovecraft</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 m-0">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/3/34/Bram_Stoker_1906.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Bram Stoker</p>
                </div>
            </div>
        </div>
    </div>
</div>







<%- include("partials/footer") %>