<%- include("partials/header") %>

<div id="intro">
    <p>Here you will find the authors of the Tales contained upon this site. <br>Take your time and find a tale that interests you.</p>
</div>
<div id="authors" class="fluid-container">
    <div class="row">
        <div class="col-sm-6 col-xl-4 m-0">
            <div class="card">
                <img class="card-img-top" src="https://www.gstatic.com/tv/thumb/persons/84477/84477_v9_ba.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><a href="/poe">Edgar Allan Poe</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 m-0">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/1/10/H._P._Lovecraft%2C_June_1934.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><a href="lovecraft">H.P. Lovecraft</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 m-0">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/3/34/Bram_Stoker_1906.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><a href="/stoker">Bram Stoker</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 m-0">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/2/23/MRJames1900.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><a href="/james">M.R. James</a></p>
                </div>
            </div>
        </div> 
        <div class="col-sm-6 col-xl-4 m-0">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Dickens_Gurney_head.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><a href="/dickens">Charles Dickens</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 m-0">
            <div class="card">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Sheridan_Le_Fanu_002.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><a href="/lefanu">Sheridan Le Fanu</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>







<%- include("partials/footer") %>