<%- include("./partials/header") %>

<div class="container author-display">
    <h1 class="author-title"><strong>Charles Dickens</strong></h1>
        <div class="card profile">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Dickens_Gurney_head.jpg" alt="Card image cap">
        </div>
    <p class="author-details">Charles John Huffam Dickens FRSA <em>(7 February 1812 – 9 June 1870)</em> was an English writer and social critic. He created some of the world's best-known fictional characters and is regarded by many as the greatest novelist of the Victorian era. His works enjoyed unprecedented popularity during his lifetime, and by the 20th century, critics and scholars had recognised him as a literary genius. His novels and short stories are still widely read today.</p>
    <p class="author-details">While not known as a devoted writer of horror and ghost stories, Dickens did have some notable works that serve to chill the blood and raise fear. We collect those here for your attention.</p>
    <div class="stories">
        <p><a href="dickens/signal">The Signal-man</a>: A story told by a railway signalman about the apparition that visits him before tragedy strikes.</p>
    </div>
</div>




<%- include("./partials/footer") %>