<%- include("partials/header") %>

<div class="container-fluid" id="title">
    <h1>The initial homepage</h1>
    <p>This is an interesting site. Or at least it will be.</p>
    <div class="container" id="display">
        <img src="https://upload.wikimedia.org/wikipedia/en/b/ba/NosferatuShadow.jpg" class="img-fluid" alt="Responsive image">
    </div>    
</div>




<%- include("partials/footer") %>