<%- include("partials/header") %>

<div class="container-fluid" id="title">
    <h1>Welcome to the Horror Anthology!</h1>
    <p>Salutations to you all! Welcome to this humble site showing the best in classic horror stories. Here you can spend a few hours perusing the stories we have assembled for you and enjoy frights, fears and fiendish surprises to your hearts content.</p>
    <p>So take a comfortable seat, turn down the lights and enter a darker world than you thought could exist....</p>
    <div class="container" id="display">
        <img src="https://upload.wikimedia.org/wikipedia/en/b/ba/NosferatuShadow.jpg" class="img-fluid" alt="Responsive image">
    </div>    
</div>




<%- include("partials/footer") %>