<%- include("./partials/header") %>

<div class="container author-display">
    <h1 class="author-title"><strong>Sheridan LeFanu</strong></h1>
        <div class="card profile">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Sheridan_Le_Fanu_002.png" alt="Card image cap">
        </div>
    <p class="author-details">Joseph Thomas Sheridan Le Fanu (<em>28 August 1814 – 7 February 1873</em>) was an Irish writer of Gothic tales, mystery novels, and horror fiction. He was a leading ghost story writer of the nineteenth century and was central to the development of the genre in the Victorian era. M. R. James described Le Fanu as "absolutely in the first rank as a writer of ghost stories".</p>
    <p class="author-details"></p>
    <div class="stories">
        <p><a href="lefanu/bonesetter">The Ghost and the Bone-Setter</a>: A local handyman and bonesetter is given a task by a foul tempered specter.</p>
    </div> 
</div>

<%- include("./partials/footer") %>