<%- include("./partials/header") %>

<div class="container author-display">
    <h1 class="author-title"><strong>H.P. Lovecraft</strong></h1>
        <div class="card profile">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/1/10/H._P._Lovecraft%2C_June_1934.jpg" alt="Card image cap">
        </div>
    <p class="author-details">Howard Phillips Lovecraft (<em>August 20, 1890 – March 15, 1937</em>) was an American writer of weird fiction and horror fiction, who is known for his creation of what became the Cthulhu Mythos. Born in Providence, Rhode Island, Lovecraft spent most of his life in New England. He was born into affluence, but his family's wealth dissipated soon after the death of his grandfather. In 1913, he wrote a critical letter to a pulp magazine that ultimately led to his involvement in pulp fiction. During the interwar period, he wrote and published stories that focused on his interpretation of humanity's place in the universe. In his view, humanity was an unimportant part of an uncaring cosmos that could be swept away at any moment.</p>
    <p class="author-details">Lovecrafts work includes stand-alone stories as well as the Cthulu Mythos stories. We hope to show you a selection of his work in the comming months.</p>
    <div class="stories">
        <p><a href="lovecraft/polaris">Polaris</a>: A dream of another world. But which world?</p>
    </div>
</div>


<%- include("./partials/footer") %>