<%- include("./partials/header") %>

<div class="container author-display">
    <h1 class="author-title"><strong>Edgar Allan Poe</strong></h1>
        <div class="card profile">
            <img class="card-img-top" src="https://www.gstatic.com/tv/thumb/persons/84477/84477_v9_ba.jpg" alt="Card image cap">
        </div>
    <p class="author-details">Edgar Allan Poe (<em>January 19, 1809 – October 7, 1849</em>) was an American writer, poet, editor, and literary critic. Poe is best known for his poetry and short stories, particularly his tales of mystery and the macabre. He is widely regarded as a central figure of Romanticism in the United States and of American literature as a whole, and he was one of the country's earliest practitioners of the short story. He is also generally considered the inventor of the detective fiction genre and is further credited with contributing to the emerging genre of science fiction.</p>
    <p class="author-details">Poe's work inspired many others to take up the pen and write. Here we will show a selection of his stories as well as his poems.</p>
    <div class="stories">
        <p><a href="poe/reddeath">The Masque of the Red Death</a>: As a plague ravages the land, the Prince Prospero locks himself away to enjoy a party. After all, nothing can touch him? <br> Hath Infection, Will Travel...</p>
        <br>
        <p><a href="poe/telltaleheart">The Tell-Tale Heart</a>: A confession from a man whose actions and motivations will shock you.</p>
    </div>
</div>

<%- include("./partials/footer") %>