<%- include("./partials/header") %>

<div class="container author-display">
    <h1 class="author-title"><strong>Brahm Stoker</strong></h1>
        <div class="card profile">
            <img class="card-img-top" src="" alt="Card image cap">
        </div>
    <p class="author-details"> <em>(7 February 1812 – 9 June 1870)</em> </p>
    <p class="author-details"></p>
    <div class="stories">
        <p><a href="dickens/signal">The Signal-man</a>: A story told by a railway signalman about the apparition that visits him before tragedy strikes.</p>
    </div>
</div>

<%- include("./partials/footer") %>