<%- include("./partials/header") %>

<div class="container author-display">
    <h1 class="author-title"><strong>Brahm Stoker</strong></h1>
        <div class="card profile">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/3/34/Bram_Stoker_1906.jpg" alt="Card image cap">
        </div>
    <p class="author-details">Abraham "Bram" Stoker <em>(8 November 1847 – 20 April 1912)</em> as an Irish author, best known today for his 1897 Gothic horror novel Dracula. Stokers work inspired a whole series of genres by bringing the Vampire into the mainstream consciousness.</p>
    <p class="author-details">Enter freely and leave some of the happiness you bring.</p>
    <div class="stories">
        <p><a href="stoker/dracguest">Dracula's Guest</a>: Being lost in a strange land is unsettling. When the Count himself is waiting for your arival...</p>
    </div>
</div>

<%- include("./partials/footer") %>