<%- include("partials/header") %>
<h1>The Stories</h1>
<p>Here we have a presentation of all the stories on our site. Have a look and see what story you want to see. If there isn't a story here that you think should be, head over to the Requests page and let us know what we should add.</p>

<div class="container">
    <div class="stories">
        <h2>Charles Dickens</h2>
        <p><a href="dickens/signal">The Signal-man</a>: A story told by a railway signalman about the apparition that visits him before tragedy strikes.</p>
    </div>
    <br>
    <div class="stories">
        <h2>M.R. James</h2>
        <p><a href="james/ashtree">The Ashtree</a>: A story of witches, wrath and the unquiet dead. "There will be guests at the hall"....</p>
    </div>
    <br>
    <div class="stories">
        <h2>Sheridan LeFanu</h2>
        <p><a href="lefanu/bonesetter">The Ghost and the Bone-Setter</a>: A local handyman and bonesetter is given a task by a foul tempered specter.</p>
    </div> 
    <br>
    <div class="stories">
        <h2>H.P. Lovecraft</h2>
        <p><a href="lovecraft/polaris">Polaris</a>: A dream of another world. But which world?</p>
    </div>
    <br>
    <div class="stories">
        <h2>Edgar Allan Poe</h2>
        <p><a href="poe/reddeath">The Masque of the Red Death</a>: As a plague ravages the land, the Prince Prospero locks himself away to enjoy a party. After all, nothing can touch him? <br> Hath Infection, Will Travel...</p>
        <br>
        <p><a href="poe/telltaleheart">The Tell-Tale Heart</a>: A confession from a man whose actions and motivations will shock you.</p>
    </div>
    <br>
    <div class="stories">
        <h2>Bram Stoker</h2>
        <p><a href="stoker/dracguest">Dracula's Guest</a>: Being lost in a strange land is unsettling. When the Count himself is waiting for your arival...</p>
    </div>
</div>

<%- include("partials/footer") %>