body {
    background: #0e0c0c;
    color: white;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 1.5em;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    align-self: center;
}

.card-text {
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
}

p .card-text {
    width: 100%;
}

.card {
    margin-bottom: 1em;
    width: 80%;
    height: 25rem;
    margin-left: 2rem;
}

#intro {
    padding-left: 3rem;
    font-size: 2rem;
}

#authors {
    margin-left: 25%;
    margin-right: 25%;
}

.dickens {
    color: silver;
    font-size: 1.7rem;
}

.james {
    color: lightgray;
}

.lovecraft {
    color: green;
}

.poe {
    color: crimson;
}

.lefanu {
    color: rgb(96, 139, 139);
}

.stoker {
    color: rgb(251, 4, 16);
}

.proc {
    color: silver;
}