body {
    background: #0e0c0c;
    color: white;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 1.5em;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    align-self: center;
}

.card-text {
    color: black;
    text-align: center;
}

li #navbarSupportedContent {
    display: flex;
    justify-content: space-between;
}
.card {
    margin-bottom: 1em;
    width: 80%;
    margin-left: 2rem;
}

.card-img-top {
    height: 15rem;
    width: 100%;
}

#intro {
    padding-left: 3rem;
    font-size: 2rem;
}

#authors {
    display: flex;
    justify-content: center ;
    align-items: center ;
}

#signal {
    text-shadow: grey;
    color: silver;
    font-size: 1.7rem;
}
