body {
    background: #0e0c0c;
    color: white;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 1.5em;
}

#display {
    margin-left: 25%;
    margin-right: 25%;
}

h2 {
    margin-bottom: 3rem;
}

p {
    margin-bottom: 1.8rem;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    align-self: center;
}

.card-text {
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
}
 
.card-text {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.card {
    margin-bottom: 1em;
    width: 80%;
    height: 25rem;
    margin-left: 2rem;
}

.author-title {
    font-size: 2em;
    margin-bottom: 2rem;
}

.author-details {
    font-size: 0.8em;
    padding-left: 0%;
    margin-top: 3rem;
}

.author-display {
    border: solid 3px blue;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.profile {
    width: 18%;
    height: 23%;
    margin: 0%;
}

.stories {
    border: solid 2px silver;
}

#intro {
    padding-left: 3rem;
    font-size: 2rem;
}

#authors {
    margin-left: 25%;
    margin-right: 25%;
}

.dickens {
    color: silver;
    font-size: 1.7rem;
}

.james {
    color: lightgray;
}

.lovecraft {
    color: green;
}

.poe {
    color: crimson;
}

.lefanu {
    color: rgb(96, 139, 139);
}

.stoker {
    color: rgb(251, 4, 16);
}

.proc {
    color: silver;
}

nav {
    font-size: 2rem;
}

.navbar-brand {
    font-size: 2rem;
    padding-right: 1rem;
}

.navbar-nav > li{
    padding-left:40px;
    padding-right:40px;
}

.container > p {
    padding-bottom: 2rem;
}